body {
  /*background-color: #78c0dd; */
  background-image : url(/images/pattern-background-desktop.svg);
  background-color : hsl(225, 100%, 94%);
}
img.banner {
  border-radius: 25px 25px 0 0;
}
div.all-group {
  display:block;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 450px;
  margin: 50px 450px;
}
div.summary {
  font-family:"red hat display";
  font-size: large;
  margin: 30px;
  text-align:center;
}
p.order-summary {
  margin: 40px;
  color: rgb(146, 142, 142);
}
div.plan  {
  font-family:"red hat display";
  border: azure solid;
  border-radius: 25px;
  margin: 10px 30px 0px 30px;
  background-color: azure;
  display: block;
  margin-bottom: 100px;
}
div.payment-option {
  display: block;
  margin: 0px 20px 50px 20px;
}
a.change {
  position: relative;
  bottom: 50px;
  left: 320px;
  font-weight: bolder;
}
 img.music {
  position: relative;
  bottom: 30px;
}
p1{
  font-weight: bold;
}

p.main {
  text-align: center;
  position: relative;
  top: 20px;
}
p2 {
  color: grey;
}
div.payment-option {
  font-family:"red hat display";
}
button.payment {
 border: solid blue 10px;
 border-radius: 25px;
  background-color: blue;
  color: white;
  font-size: large;
  font:bold;
  margin-left: 100px;
  
}
button.cancel {
  border: solid white 10px;
  border-radius: 25px;
   background-color: white;
   color: grey;
   font-size: small;
   margin-left: 150px;
   font:bold
 }
 